<div class="user_page">
  <%= form_with(model: @picture, local: true,url: choose_new_or_edit) do |form| %>
    <ul class="field">
      <li><%= form.label :image %></li>
      <li><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></li>
      <li><%= form.file_field :image %></li>
      <li><%= form.hidden_field :image_cache %></li>
    </ul>
  <div class="content">
     <%= form.label :content %>
     <%= form.text_field :content %>
   </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
